body{
    padding: 50px;
}
.square{
    width: 60px;
    height: 60px;
    font-size: 40px;
    font-weight: 900;
}
.board-row{
    display: flex;
    width: 180px;
    flex-wrap: wrap;
}
li{
    margin-bottom: 4px;
}